@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

body {
  background: #F5F5F5;
  margin: 0;
  overflow: hidden;
}

.projects, .welcome, .contact, .myskills {
  margin-top: 20vh;
  margin-left: 200px;
  margin-right: 200px;
}

.container {
  width: 100vw;
  height: 100vh;
  left: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container p {
  font-size: 20px;
}
a:-webkit-any-link {
  color: #193154;
}

a:hover {
  color: #FF5252;
}
h1 {
  position: relative;
  text-align: left;
  font-family: 'Vollkorn', serif;
  line-height: 1.9;
  color: #193154;
}

.typing a  {
  color: #FF5252;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  border-bottom: 3px solid currentColor;
}
.button_container {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #FF5252;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  z-index: 10;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: #FF5252;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .97;
  visibility: visible;
  height: 100%;
  z-index: 10;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}
.logo {
  border: #193154 solid 2px;
  padding: 5px;
  font-weight: 600;
  color: #193154;
  font-family: monospace;
  position: fixed;
  top: 5%;
  left: 2%;
  z-index: 100;
  font-size: 1.5em;
  z-index: 1;
}
.welcome {
  color: #111111;
  border-radius: 0px 0px 3px 3px;
  padding-left: 150px;
  padding-right: 150px;
}
.social-media {
  position: absolute;
  background: #fcfcfc;
  border-top: #dbdbdb solid 1px;
  height: 70px;
  width: 100vw;
  bottom: 0;
  left: 0;
  text-align: center;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.fab {
  font-size: 2em;
  margin: 0.5em;
  text-decoration: none;
}

.fab a {
  color: ;
}

.fab a:hover {
  cursor: pointer;
}
.fab a:link {
  color: #193154;
}

.fab a:visited {
  color: #193154;
}
.myskills {
  display: flex;
}
.skills {
  width: inherit;
  position: relative;
  float: left;
  flex: 1 0 calc(33.333% - 20px);
}
.frameworks, .languages, .programs {
  flex-grow: 1;
  margin: 10px;
}
.skills h2 {
  padding-bottom: 50px;
  font-size: 1.5em;
}
.skills ul {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.skills ul > li {
  margin-bottom: 50px;
  background: #193154;
  height: 6px;
  list-style-type: none;
}
.skills ul > li em {
  font-size: 16px;
  position: relative;
  top: -30px;
}
.skills ul > li span {
  height: inherit;
  background-color: #FF5252;
  position: absolute;
}
.skills .html {
  width: 80%;
  animation: html 2s ease-out;
}
.skills .css {
  width: 80%;
  animation: css 2s ease-out;
}
.skills .js {
  width: 20%;
  animation: js 2s ease-out;
}
.skills .reactjs {
  width: 10%;
  animation: reactjs 2s ease-out;
}
.skills .cpp {
  width: 15%;
  animation: cpp 2s ease-out;
}
.skills .processing {
  width: 20%;
  animation: processing 2s ease-out;
}
.skills .arduino {
  width: 55%;
  animation: arduino 2s ease-out;
}
.skills .bootstrap {
  width: 50%;
  animation: bootstrap 2s ease-out;
}
.skills .git {
  width: 35%;
  animation: git 2s ease-out;
}
.skills .npm {
  width: 10%;
  animation: npm 2s ease-out;
}
.skills .webpack {
  width: 10%;
  animation: webpack 2s ease-out;
}
.skills .photoshop {
  width: 90%;
  animation: photoshop 2s ease-out;
}
.skills .adobe {
  width: 80%;
  animation: adobe 2s ease-out;
}
.skills .axure {
  width: 50%;
  animation: axure 2s ease-out;
}
.skills .sublime{
  width: 70%;
  animation: sublime 2s ease-out;
}
.skills .postcss{
  width: 10%;
  animation: postcss 2s ease-out;
}
.skills .sass{
  width: 10%;
  animation: sass 2s ease-out;
}
.skills .atom{
  width: 50%;
  animation: atom 2s ease-out;
}
.info {
  color: #000;
  line-height: 16px;
  padding: 3px;
}
@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes js {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}
@keyframes reactjs {
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
@keyframes cpp {
  0% {
    width: 0px;
  }
  100% {
    width: 15%;
  }
}
@keyframes processing{
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}
@keyframes arduino {
  0% {
    width: 0px;
  }
  100% {
    width: 55%;
  }
}
@keyframes bootstrap {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes git{
  0% {
    width: 0px;
  }
  100% {
    width: 35%;
  }
}
@keyframes npm{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
@keyframes webpack{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
@keyframes photoshop{
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes adobe{
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes axure{
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
  @keyframes postcss{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
    @keyframes sass{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
    @keyframes sublime{
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes atom{
0% {
width: 0px;
}
100% {
width: 50%;
}
}
