* {
  box-sizing: border-box
}

html, body {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  /*overflow: hidden;*/
}
a {
	text-decoration: none;
}
p {
	line-height: 5px;
	font-size: 13px;
	color: white;
}

ul {
  list-style-type: none;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  padding: 0px;
  width: 10%;
  min-height: 100%;
  font-family: 'Inconsolata', monospace;
}
.topnav {
  display: block;
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  z-index: 50;
  transition: top 0.3s;
  background-color: #f8f8f8;
  border-bottom: black solid 1px;
}
.main{
	background: url("../img/coder5.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.projects, .main, .contact{
	width: 100vw;
	min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.projects, .contact {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.projects {
  background-color: #f8f8f8;
  color: #f1f1f1;
}

.myskills {
	background-color: #181818;
	color: #f1f1f1;
  height: 100vh;
}
.contact {
	background-color: #93858e;
	color: #f1f1f1;
}

h1 {
	font-size: 24px;
	color: white;
	font-weight: 400;
}
.about-me {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.section{
	margin: 0 auto;
	top: 0;
	overflow: hidden;
	padding-right: 200px;
	padding-left: 200px;
  background: transparent;
  overflow: hidden;
}
#terminal {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}
.window-welcome h1 {
	font-size: 19px;
}

.window-welcome {
  background: #f8f8f8;
  color: #f8f8f8;
  padding: 50px;
  background: black;
  opacity: 0.90;
  border-radius: 0px 0px 3px 3px;
}

.clr{
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}
.window {
  padding:6px 6px 6px 6px;
  background: transparent;
}

.window-header {
  background: #cecece;
  border-radius: 3px 3px 0px 0px;
}

.window-header{
  background-size: 100% 2px;
  text-align:center;
}
.window-header span{
  margin:auto 0;
  background: #cecece;
  text-align:center;
  padding:0px 6px 2px 6px;
  top:0px;
  letter-spacing:0.01em; 
  font-size: 15px;
}
.navigation {
position: fixed;
margin: 0 auto;
width: 100%;
color: #f8f8f8;
z-index: 101;
bottom: 0;
display: flex;
justify-content: space-around;
align-items: center;
left: 0;
}
.navlink {
  color: #262626;
  text-decoration: none;
  padding: 5px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-decoration: none;
  background: #f8f8f8;
  border-right: black solid 1px;
  border-top: black solid 1px;
}
.navlink:hover {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: ease 0.5s;
  color: #f8f8f8;
  background: #0ba18e;
}
.navlink.active {
  color: #f8f8f8;
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #00cc99;
}

.cv-link {
	position: fixed;
	right: 0;
	margin: 1em;
	color: #0ba18e;
}
.logo {
  font-weight: 700;
  color: #0ba18e;
	position: fixed;
	z-index: 100;
	left: 0;
  margin-top: 1em;
  margin-left: 1em;
}
.item {
    width: 330px;
    height: 380px;
    border: 1px black solid;
    background: #f1f1f1;
    flex: 1 0 calc(32% - 14px); 
    justify-content: center;
    margin: 10px;
}
.title {
  padding-top: 50px;
  padding-bottom: 50px;
}
.card {
    display: block; 
    margin-bottom: 15px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:170px;
  border-bottom: solid lightgrey 1px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  color: #000;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:5px;
  font-weight:600;
  text-transform: uppercase
}
.skills {
  width: inherit;
  position: relative;
  float: left;
  padding: 30px 0;
}
.skills h2 {
  padding-bottom: 50px;
  font-size: 1.5em;
}
.skills ul {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.skills ul > li {
  margin-bottom: 50px;
  background: #dedede;
  height: 4px;
}
.skills ul > li em {
  font-size: 16px;
  position: relative;
  top: -30px;
}
.skills ul > li span {
  height: inherit;
  background-color: #94c245;
  background: linear-gradient(90deg, #76b82a, #aecd60);
  position: absolute;
}
.skills .html {
  width: 80%;
  animation: html 2s ease-out;
}
.skills .css {
  width: 80%;
  animation: css 2s ease-out;
}
.skills .js {
  width: 20%;
  animation: js 2s ease-out;
}
.skills .reactjs {
  width: 10%;
  animation: reactjs 2s ease-out;
}
.skills .cpp {
  width: 15%;
  animation: cpp 2s ease-out;
}
.skills .processing {
  width: 20%;
  animation: processing 2s ease-out;
}
.skills .arduino {
  width: 55%;
  animation: arduino 2s ease-out;
}
.skills .bootstrap {
  width: 50%;
  animation: bootstrap 2s ease-out;
}
.skills .git {
  width: 35%;
  animation: git 2s ease-out;
}
.skills .npm {
  width: 10%;
  animation: npm 2s ease-out;
}
.skills .webpack {
  width: 10%;
  animation: webpack 2s ease-out;
}
.skills .photoshop {
  width: 90%;
  animation: photoshop 2s ease-out;
}
.skills .adobe {
  width: 80%;
  animation: adobe 2s ease-out;
}
.skills .axure {
  width: 50%;
  animation: axure 2s ease-out;
}
.skills .sketch {
  width: 50%;
  animation: sketch 2s ease-out;
}
.skills .blender{
  width: 30%;
  animation: blender 2s ease-out;
}
.skills .postcss{
  width: 10%;
  animation: postcss 2s ease-out;
}
.skills .sass{
  width: 10%;
  animation: sass 2s ease-out;
}
.skills .koala{
  width: 10%;
  animation: koala 2s ease-out;
}
.skills .sublime{
  width: 60%;
  animation: sublime 2s ease-out;
}

.info {
  color: #000;
  line-height: 16px;
  padding: 3px;
}
@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes js {
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}
@keyframes reactjs {
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
@keyframes cpp {
  0% {
    width: 0px;
  }
  100% {
    width: 15%;
  }
}
@keyframes processing{
  0% {
    width: 0px;
  }
  100% {
    width: 20%;
  }
}
@keyframes arduino {
  0% {
    width: 0px;
  }
  100% {
    width: 55%;
  }
}
@keyframes bootstrap {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes git{
  0% {
    width: 0px;
  }
  100% {
    width: 35%;
  }
}
@keyframes npm{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
@keyframes webpack{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
@keyframes photoshop{
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes adobe{
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes axure{
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes sketch{
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes blender{
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
  @keyframes postcss{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
    @keyframes sass{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
    @keyframes koala{
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
    @keyframes sublime{
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

li {
  list-style-type: none;
}

.box-skills {
  display: block;
}