#home {
    .content { padding: 20rem !important; vertical-align: middle; }
  }
  
body { background: $gray_color; top: 0; margin: 0; overflow: hidden; }

h1 { font-size: 1.8em; position: relative; text-align: left; font-family: 'Vollkorn', serif; line-height: 1.8; color: $secondary_color; }

.typing {
    a  { color: $primary_color; text-decoration: none; font-size: $large_fontsize; overflow: hidden; }
}
