#projects {
    .content { overflow: scroll; max-height: auto;
        @include bp(phablet) { margin-top: 5rem; }
    }
    figure { flex-basis: auto; }
}

.project { 
    &-thumb { width: 28rem; height: 28rem; filter: grayscale(100%); margin-bottom: 3rem;
        &:hover { opacity: .7; transition: ease .5s; filter: grayscale(0%); }
    }
    &-title { font-size: $standard_fontsize; }
    &-desc { font-size: $small_fontsize; margin-bottom: 2rem; 
        &:last-of-type { padding-top: 1rem; color: $dark_gray_color; }
    }
    &-photo { width: 100%;
        @include bp(phablet) { width: 100%; }
    }
}

#portfolio { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; }