#skills {
  .content { overflow: auto; }
}

.myskills { display: flex;
  @include bp(phablet) { flex-direction: column; }
}

.skills { width: inherit; position: relative; float: left; flex: 1 0 calc(33.333% - 20px); 
  h2 { padding-bottom: 50px; font-size: 1.3em; font-family: 'Vollkorn', serif; color: $secondary_color; }
  ul { padding-left: 10px; padding-right: 10px;}
}
  .soft, .languages, .programs {
    flex-grow: 1;
    margin: 10px;
  }

  .skills ul > li { margin-bottom: 40px; background: $secondary_color; height: 6px; list-style-type: none; }
  .skills ul > li em { font-size: 14px; position: relative; top: -30px; opacity: 0.7; }
  .skills ul > li span { height: inherit; background-color: $primary_color; position: absolute; }

  .skills {
    .html { width: 80%; animation: html 2s ease-out; }
    .css { width: 80%; animation: css 2s ease-out; }
    .js { width: 35%; animation: js 2s ease-out; }
    .vue { width: 10%; animation: vue 2s ease-out; }
    .jquery { width: 40%; animation: jquery 2s ease-out; }
    .arduino { width: 70%; animation: arduino 2s ease-out; }
    .bootstrap { width: 50%; animation: bootstrap 2s ease-out; }
    .git { width: 50%; animation: git 2s ease-out; }
    .npm { width: 30%; animation: npm 2s ease-out; }
    .gulp { width: 40%; animation: gulp 2s ease-out; }
    .photoshop { width: 90%; animation: photoshop 2s ease-out; }
    .adobe { width: 80%; animation: adobe 2s ease-out; }
    .axure { width: 50%; animation: axure 2s ease-out; }
    .sketch { width: 55%; animation: sketch 2s ease-out; }
    .wordpress{ width: 60%; animation: wordpress 2s ease-out; }
    .php{ width: 25%; animation: postcss 2s ease-out; }
    .sass { width: 70%; animation: sass 2s ease-out; }
    .visualcode{ width: 70%; animation: visualcode 2s ease-out; }
    .work-team{ width: 55%; animation: work-team 2s ease-out; }
    .energy{ width: 70%; animation: energy 2s ease-out; }
    .respectful{ width: 90%; animation: respectful 2s ease-out; }
    .deal-making{ width: 90%; animation: deal-making 2s ease-out; }
    .creativity{ width: 90%; animation: creativity 2s ease-out; }
    .adaptable{width: 60%; animation: adaptable 2s ease-out; }
    .research{ width: 90%; animation: research 2s ease-out; }
    .logical-thinking{ width: 80%; animation: logical-thinking 2s ease-out; }
    .pixel-perfect { width: 80%; animation: pixel-perfect 2s ease-out; }
  }