@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

$font_primary: 'Roboto', sans-serif; 
$font_secondary: 'Vollkorn' , serif;

h1 { font-size: $large_fontsize;  font-family: $font-secondary; color: $secondary_color;
    @include bp(phablet) { font-size: $small_fontsize; }
}