//COLORS

$primary-color: #FF5252;
$secondary-color: #193154;
$gray-color: #f5f5f5;
$dark-gray-color: #b3b3b3;
$light-color: #fcfcfc;
$black-color: #0a121e;

//SIZES
$xsmall-fontsize: 1.1rem;
$small-fontsize: 1.3rem;
$standard-fontsize: 1.6rem;
$normal-fontsize: 2rem;
$large-fontsize: 3rem;
$xlarge-fontsize: 4.5rem;

