//COLORS

$primary-color: #FF5252;
$secondary-color: #193154;
$gray-color: #f5f5f5;
$light-color: #fcfcfc;
$black-color: #0a121e;

//SIZES
$standard-fontsize: 1.6rem;
$normal-fontsize: 2rem;
$large-fontsize: 3rem;
$xlarge-fontsize: 4.5rem;

