@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
@import "dist/css/components/skills.bundle.css";
@import "dist/css/components/form.bundle.css";
@import "src/css/lib/bootstrap.css";

body { background: #F5F5F5; top: 0; margin: 0; overflow: hidden; }

footer { position: fixed; background: #fcfcfc; border-top: #dbdbdb solid 1px; height: 70px; width: 100vw; 
  bottom: 0; left: 0; text-align: center;}

#hello, 
#projects,
#contact, 
#skills { margin-top: 20vh; margin-left: 200px; margin-right: 200px; }

#contact { display: block; }

#projects { margin-top: 20vh; }

.container { width: 100vw; height: 100vh; left: 0; margin: 0 auto; font-family: 'Roboto', sans-serif; 
  p {font-size: 20px;}
}

a:-webkit-any-link, a:any-link, a:-moz-any-link, a:-ms-any-link {
  color: #0a121e;
}

a:hover {
  color: #FF5252;
}
h1 {
  font-size: 1.8em;
  position: relative;
  text-align: left;
  font-family: 'Vollkorn', serif;
  line-height: 1.8;
  color: #193154;
}
.overlay ul li {
  height: 20% !important;
}
.typing a  {
  color: #FF5252;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  border-bottom: 3px solid currentColor;
}
.button_container {
  position: absolute;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
          transform: translateY(6px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
          transform: translateY(-6px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #FF5252;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  z-index: 10;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: #FF5252;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: .97;
  visibility: visible;
  height: 100%;
  z-index: 10;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}
.logo {
  border: #193154 solid 2px;
  padding: 15px;
  font-weight: 600;
  color: #193154;
  font-family: monospace;
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 100;
  font-size: 1.5em;
  z-index: 1;
}
.welcome {
  color: #111111;
  border-radius: 0px 0px 3px 3px;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.fab {
  font-size: 2em;
  margin: 0.5em;
  text-decoration: none;
  color: #0a121e;
}

.fab a {
  color: #0a121e;
}

.fab a:hover {
  cursor: pointer;
}
.fab a:link, .fab a:-moz-link, fab a:-webkit-link, fab a:-ms-link {
  color: #0a121e;
}

.fab a:visited {
  color: #0a121e;
}

li, ul {
  list-style-type: none;
}
.img-thumbnail {
  cursor: pointer;
}
.img-thumbnail{
  filter: grayscale(100%) ;
  -webkit-filter: grayscale(100%);
}
.img-thumbnail:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transition: ease 0.5s;
  opacity: 0.7;
}
.btn-success {
  background-color: #FF5252;
  border-color: #FF5252;
}

.myskills {
  display: flex;
}
.info {
  color: #000;
  line-height: 16px;
  padding: 3px;
}

@media (min-width: 1900px) {
.welcome {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.myskills, .contact {
  padding-left: 250px;
  padding-right: 250px;
}
}
@media (min-width: 1200px) {
.welcome {
  margin-left: 200px;
  margin-right: 200px;
}
}
@media (min-width: 1024px) and (max-width: 1199px) {
.welcome {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 50px;
  padding-right: 50px;
}
.container {
  height: auto;
 }
.myskills {
    margin-left: 0;
    margin-right: 0;
  }
.skills h2 {
    font-size: 1.1em !important;
}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    overflow: auto;
  }
  .welcome {
    padding-top: 50px;
    font-size: 0.7em;
    margin-left: 70px;
    margin-right: 70px;
  }
  .typing a {
    font-size: 1em;
  }

  .myskills {
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: column;
  }
  .contact {
    margin-left: 70px;
    margin-right: 70px;
  }

  .contact h1 {
    font-size: 1.8em;
  }

  .skills h2 {
    font-size: 1.1em !important;
  }
  .container {
    height: auto;
  }
}
/* landscape mobile phones */
@media (min-width: 570px) and (max-width: 767px) {
  body {
    overflow: auto;
  }
  .welcome {
    font-size: 0.6em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25vh;
  }

  .typing a {
    font-size: 1em;
  }
  .myskills {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }
  .contact {
    margin-left: 15px;
    margin-right: 15px;
  }
  .contact h1 {
    font-size: 1.8em;
  }
  input[type=name], input[type=email], input[type=subject] {
  width: 100%;
  }
}
/* small landscape mobile phones */
@media (min-width: 415px) and (max-width: 568px) {
  body {
    overflow: auto;
  }

  .welcome {
    font-size: 0.5em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25vh;
  }

  .typing a {
    font-size: 1em;
  }
  .myskills {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }
  .contact {
    margin-left: 15px;
    margin-right: 15px;
  }
  .contact h1 {
    font-size: 1.8em;
  }
  input[type=name], input[type=email], input[type=subject] {
  width: 100%;
  }
}


@media (min-width: 375px) and (max-width: 414px) {
  body {
    overflow: auto;
  }
  .welcome {
    font-size: 0.6em;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .typing a {
    font-size: 1em;
  }
  .myskills {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contact {
    margin-left: 15px;
    margin-right: 15px;
  }
  .contact h1 {
    font-size: 1.8em;
  }
  input[type=name], input[type=email], input[type=subject] {
  width: 100%;
  }
}


@media (max-width: 320px) {
  body {
    overflow: auto;
  }
  .welcome {
    font-size: 0.5em;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .typing a {
    font-size: 1em;
  }
  .myskills {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
  .contact {
    margin-left: 15px;
    margin-right: 15px;
  }
  .contact h1 {
    font-size: 1.5em;
  }
  input[type=name], input[type=email], input[type=subject] {
  width: 100%;
  }
}
