  @keyframes fadeInRight { 
    0% { opacity: 0; left: 20%; }
    100% { opacity: 1; left: 0; }
  }   
  @keyframes html {
    0% { width: 0px; }
    100% { width: 80%; }
  }
  @keyframes css {
    0% { width: 0px; }
    100% { width: 80%; }
  }
  @keyframes js {
    0% { width: 0px; }
    100% { width: 35%; }
  }
  @keyframes vue {
    0% { width: 0px; }
    100% { width: 10%; }
  }
  @keyframes jquery{
    0% { width: 0px; }
    100% { width: 40%; }
  }
  @keyframes arduino {
    0% { width: 0px; }
    100% { width: 70%; }
  }
  @keyframes sketch {
    0% { width: 0px; }
    100% { width: 55%; }
  }
  @keyframes bootstrap {
    0% { width: 0px; }
    100% { width: 50%; }
  }
  @keyframes git{
    0% { width: 0px; }
    100% { width: 50%; }
  }
  @keyframes npm{
    0% { width: 0px; }
    100% { width: 30%; }
  }
  @keyframes gulp{
    0% { width: 0px; }
    100% { width: 40%; }
  }
  @keyframes photoshop{
    0% { width: 0px; }
    100% { width: 90%; }
  }
  @keyframes adobe{
    0% { width: 0px; }
    100% { width: 80%; }
  }
  @keyframes axure{
    0% { width: 0px; }
    100% { width: 50%; }
  }
   @keyframes php{
    0% { width: 0px; }
    100% { width: 25%; }
  }
   @keyframes sass{
    0% { width: 0px; }
    100% { width: 70%; }
  }
   @keyframes wordpress{
    0% { width: 0px; }
    100% { width: 60%; }
  }
   @keyframes visualcode{
    0% { width: 0px; }
    100% { width: 70%; }
  }
   @keyframes work-team{
    0% { width: 0px; }
    100% { width: 55%; }
  }
   @keyframes energy{
    0% { width: 0px; }
    100% { width: 70%; }
  }
   @keyframes respectful{
    0% { width: 0px; }
    100% { width: 90%; }
  }
   @keyframes deal-making{
    0% { width: 0px; }
    100% { width: 90%; }
  }
    @keyframes creativity{
    0% { width: 0px; }
    100% { width: 90%; }
  }
    @keyframes adaptable{
    0% { width: 0px; }
    100% { width: 60%; }
  }
    @keyframes research{
    0% { width: 0px; }
    100% { width: 90%; }
  }
    @keyframes logical-thinking{
    0% { width: 0px; }
    100% { width: 80%; }
  }
    @keyframes pixel-perfect{
    0% { width: 0px; }
    100% { width: 80%; }
  }