.fab { font-size: 2em; margin: 0.5em; text-decoration: none; color: #0a121e; 
  a { color: #0a121e; 
    &:hover { cursor: pointer; }
    &:link, &:visited { color: #0a121e; }
    }
}

a { 
    &:hover { color: #FF5252; } 
}