.fab { font-size: 3rem; margin: 2rem; text-decoration: none; color: $black_color; 
  a { color: $black_color; 
    &:hover { cursor: pointer; }
    &:link, &:visited { color: $black_color; }
    }
}

a { 
    &:hover { color: $primary_color; } 
}