input[type=name], input[type=email], input[type=subject], input[type=text], input[type=submit], textarea { width: 50%; padding: 12px; border: 1px solid #ccc;
    box-sizing: border-box; margin-top: 6px; margin-bottom: 16px; }
input[type=text], textarea { min-height: 80px; max-height: 100px; resize: vertical; }
input[type=submit] { background-color: #FF5252; color: white; padding: 12px 20px; border: none; cursor: pointer; }
input[type=submit]:hover { background-color: #FF5252; }
  
p.statusMsg{ font-size: 18px; }
p.succdiv{ color:#008000; }
p.errordiv{ color:#E80000; }