.hamburger {
    position: absolute;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }
  .hamburger:hover {
    opacity: .7;
  }
  .hamburger.active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
            transform: translateY(6px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .hamburger.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .hamburger.active .bottom {
    -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
            transform: translateY(-6px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .hamburger span {
    background: #FF5252;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    z-index: 10;
  }
  .hamburger span:nth-of-type(2) {
    top: 11px;
  }
  .hamburger span:nth-of-type(3) {
    top: 22px;
  }