.hamburger { position: fixed; top: 5%; right: 2%; height: 2.7rem; width: 3.5rem; cursor: pointer; z-index: 100; transition: opacity .25s ease;
  &:hover { opacity: .7; }
  span { background: $primary-color; border: none; height: 0.5rem; width: 100%; position: absolute; top: 0; left: 0; transition: all .35s ease; cursor: pointer; z-index: 10;
    &:nth-of-type(2) { top: 1.1rem; }
    &:nth-of-type(3) { top: 2.2rem; }
  }
}

.active {
  & .top { transform: translateY(6px) translateX(0) rotate(45deg); background: #FFF; }
  & .middle { opacity: 0; background: #FFF; }
  & .bottom { transform: translateY(-6px) translateX(0) rotate(-45deg); background: #FFF; }
}