.logo { border: $secondary_color solid .2rem; padding: 1.5rem; font-weight: 600; color: $secondary_color; font-family: monospace; position: absolute; 
    top: 5%; left: 2%; font-size: $standard_fontsize; z-index: 1;
  }