.logo { border: $secondary-color solid .2rem; padding: 1.5rem; font-weight: 600; color: $secondary-color; font-family: monospace; position: absolute; 
    top: 5%; left: 2%; font-size: $standard-fontsize; z-index: 1;
  }